<!DOCTYPE html>

<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-coUA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d263164389.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/home.js' %}" defer></script>
    <title>Coin Analysis | Home</title>

</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fab fa-bitcoin"></i>
            <a href="">Coin Analysis</a>
        </div>
        <ul class="navbar_menu">
            <li><a href="{% url 'coinanalysis:home' %}">Home</a></li>
            <li><a href="{% url 'coinanalysis:coins' %}">Coin</a></li>
            <li><a href="{% url 'coinanalysis:chart' %}">Chart</a></li>
            <li><a href="{% url 'coinanalysis:qna' %}">QnA</a></li>
        </ul>
        <ul class="navbar_icons">
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-youtube"></i></li>
            <li><i class="fab fa-twitter"></i></li>
        </ul>
        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    <article class="container">
             <div id="sec-header">
                Analysis for<br>
                Cryptocurrency<br>
                Investing<br>
             </div>
            <div id="sec-content">
            </div>
            <div id="sec-footer">
                what is Cryptocurrency?<br>
                This is a beginners guide <br>
                to Cryptocurrency<br>
            </div>
    </article>    
</body>
</html>